---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="About">
  <h1>About</h1>

  <p>
    <a href="/about/biography">Biography</a>
  </p>

  <p>
    <a href="/about/resume">Resume</a>
  </p>
</BaseLayout>